body {
  max-width: 1000px;
  margin: 0 auto !important;
}

.product-single > .feature-image:first-of-type {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: -1;
}

#od-feature-img > img {
    max-height: 900px;
}

#od-nav-menu {
  z-index: 21;
  left: 0;
  width: 100vw;
  z-index: 21;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
  background: #fff;
  font-family: "Knockout 92 A","Knockout 92 B",sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.0em;
}

.stonks {
  left: unset !important;
  right: 0 !important;
  top: -1.1em !important;
  font-size: .85em !important;
}