body {
  max-width: 1000px;
  margin: 0 auto !important;
}

.feature-image:first-of-type {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: -1;
}

.od-feature-img > img {
    max-height: 900px;
}

.stonks {
  left: unset !important;
  right: 0 !important;
  top: -1.1em !important;
  font-size: .85em !important;
}